<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
    <style>
        body {
            text-align: center;
            font-family: Arial;
            margin-top: 100px;
        }

        .box {
            padding: 30px;
            display: inline-block;
            border: 2px solid green;
            border-radius: 10px;
        }

        h1 {
            color: green;
        }

        a {
            display: block;
            margin-top: 20px;
            text-decoration: none;
            color: blue;
        }
    </style>
</head>
<body>

<div class="box">
    <h1>Registration Successful! 🎉</h1>
    <p>Thank you for registering in Python & MySQL course.</p>

    <a href="/">Go Back</a>
</div>

</body>
</html>